@font-face {
    font-family: 'Molend';
    src: url('Molend-Regular.woff2') format('woff2'),
        url('Molend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Molend';
    src: url('Molend-Regular.woff2') format('woff2'),
        url('Molend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

